# Imports

In [27]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load the Data

In [28]:
df = pd.read_csv("C:/Users/keshi/Downloads/archive (1)/Output_file1/EDA.csv")

In [29]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Cluster
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,0
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,0
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,0
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,0
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,0

In [30]:
label_encoders = {}

for column in ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']:
    lE = LabelEncoder()
    df[column] = lE.fit_transform(df[column])
    label_encoders[column] = lE

In [31]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Cluster
0,1,3,0,4,2,177,3,1,0,44,1233,1,0
1,2,4,0,4,5,216,2,1,1,59,3088,1,0
2,3,0,0,2,2,183,4,1,1,48,3374,1,0
3,4,1,0,3,3,176,4,2,1,10,1177,1,0
4,5,2,0,2,2,184,3,2,0,46,2484,1,0

In [32]:
x = df.drop(['Reached.on.Time_Y.N', 'ID'], axis=1)

In [33]:
y = df['Reached.on.Time_Y.N']
y

0        1
1        1
2        1
3        1
4        1
        ..
10994    1
10995    0
10996    0
10997    0
10998    0
Name: Reached.on.Time_Y.N, Length: 10999, dtype: int64

In [34]:
x_train, y_train, x_test, y_test = train_test_split(x, y, test_size = 0.20, random_state = 42)

In [35]:
scaler=StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_train=pd.DataFrame(x_train_scaled,columns=x.columns)
x_train

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Cluster
0,1.118207,0.636561,-0.925605,1.422087,-0.670120,-0.378680,-0.548137,-1.001706,-0.392911,0.311901,-0.049654
1,-1.568422,0.636561,1.697108,0.003949,-0.173246,0.273631,1.037874,-1.001706,-0.638968,0.532606,1.441492
2,0.446550,0.636561,-1.799843,1.422087,1.379486,-0.378680,1.037874,0.998297,-0.454426,-1.585178,-0.049654
3,-0.225107,0.636561,0.822870,1.422087,0.178707,-1.030992,1.037874,0.998297,-0.577454,0.406052,-0.049654
4,-0.225107,-2.004223,1.697108,0.003949,1.772845,0.273631,-0.548137,-1.001706,-0.577454,-1.207352,1.441492
...,...,...,...,...,...,...,...,...,...,...,...
8794,-0.225107,-0.683831,-0.925605,1.422087,1.338080,-1.030992,-0.548137,-1.001706,-0.392911,0.607804,-0.049654
8795,1.118207,-0.683831,0.822870,1.422087,-0.483792,0.273631,1.037874,-1.001706,-0.269883,1.040042,-0.049654
8796,-1.568422,0.636561,-0.051367,-0.705121,-1.518946,-1.030992,1.037874,-1.001706,-0.700483,1.332277,-0.049654
8797,-1.568422,0.636561,0.822870,0.003949,-1.374025,1.578254,1.037874,-1.001706,1.329489,-1.599240,-1.540800
8798,-0.225107,-2.004223,-0.051367,0.003949,-1.146291,-0.378680,-2.134149,-1.001706,-0.700483,0.555838,-0.049654

In [39]:
x_test1=scaler.transform(x_test)
x_test=pd.DataFrame(x_test1,columns=x.columns)
x_test

C:\Users\keshi\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 1. 0. ... 1. 1. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.